<h1>Create Employee</h1>
<%= form_for @employee do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :alias %>
    <%= f.text_field :alias %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :office %>
    <%= f.text_field :office %>
    <%= f.label :image_url %>
    <%= f.text_field :img_url %>
    <%= f.label :dog %>
    <%= f.collection_select :dog_id, Dog.all, :id, :name, prompt: "Choose Dog"%>
    <%= f.submit "Submit" %>
<% end %>
<% if flash[:message] %>
    <h5><%= flash[:message] %></h5>
<% end %>
