<li>Name: <%=@employee.first_name%></li>
<li>Last Name: <%=@employee.last_name%></li>
<li>Alias: <%=@employee.alias%></li>
<li>Title: <%=@employee.title%></li>
<li>Office: <%=@employee.office%></li>
<li>Dog Id: <%=@employee.dog_id%></li>
<br>
<img src="<%=@employee.img_url%>" alt="">

