<h1><%= @employee.name %></h1>

<h3>Alias: <%= @employee.alias %></h3>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Dog: <%= @employee.dog.name %></h3>

<%= button_to("Edit #{@employee.name}", edit_employee_path(@employee), method:
"get") %>
